body {
    font-family: "Lucida Sans Unicode", "Tahoma", "Verdana";
    width: 800px;
    margin: 0 auto;
}

html, body {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.main-title {
    color: #4d4d4d;
    text-align: center;
    font-size: 30px;
}

.main-title:hover {
    cursor: default;
}

.content-body {
    width: 100%;
    margin: 0 auto;
}

.section-container {
    padding-left: 50px;
    padding-right: 50px;
}

.section-header {
    padding-left: 10px;
    padding-right: 10px;
    color: #808080;
    font-size: 14px;
    transition: color 0.5s ease;
}

.section-header:hover {
    color: #0d0d0d;
    cursor: pointer;
    transition: color 0.5s ease;
}

.link-cv {
    transition: color 0.5s ease;
}

.link-cv:hover {
    color: #0d0d0d;
    cursor: pointer;
    transition: color 0.5s ease;
}

.line-divider {
    border-color: #808080;
    width: 319px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.credentials {
    font-size: 15px;
    margin-top: 20px;
    color: #808080;
}

.contact-link {
    text-decoration: none;
}

.contact-label:hover {
    cursor: pointer;
}

.about-me {
    width: 600px;
    text-align: justify;
    text-justify: inter-word;
    color: #4d4d4d;
}

.contact-divider {
    border-color: #808080;
    width: 319px;
    margin-top: 28px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contact-label {
    color: #808080;
    font-size: 15px;
}

.contact-info {
    color: #4d4d4d;
}

.contact-icon {
    height: 23px;
    width: 23px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.section-subtitle {
    color: #808080;
    font-size: 15px;
    padding-top: 20px;
}

.experience {
    width: 600px;
    text-align: justify;
    text-justify: inter-word;
    color: #4d4d4d;
}

.experience-heading {
    margin-left: 50px;
    float: left;
}

.experience-subheading {
    font-weight: bold;
    line-height: 30px;
}

.experience-instructor {
    line-height: 30px;
}

.professor-link {
    text-decoration: none;
    color: #4d4d4d;
    text-decoration: underline;
}

.professor-link:hover {
    color: #dadada;
}

.research-experience {
    width: 600px;
    text-align: justify;
    text-justify: inter-word;
    color: #4d4d4d;
}

.section-body {
    width: 700px;
    margin: 0 auto;
}

.cv-link {
    text-decoration: none;
    color: #808080;
}
